---
layout: layouts/base.njk
pagination:
data: collections.authors
size: 1
alias: author
permalink: "authors/{{ author | slug }}/"
eleventyComputed:
author: "{{ author }}"
title: "Posts by {{ author }}"
metaDescription: "An archive of all posts by the author: {{ author }}."
--- 

<h1>{{ title }}</h1> 

<section>
  {% for post in collections.authors[author] | reverse %}
  <div{% if post.page.url==url %} data-current="current item"{% endif %} class="blog-article">
  <h2>
    <a href="{{ post.page.url | url }}">
      {% if post.title %}
      {{ post.title }}
      {% else %}
      Untitled
      {% endif %}
    </a>
  </h2>
  <div datetime="{{ post.date | machineDate }}" class="blog-detail">
    <span>By <a href="/authors/{{ post.author | slug }}/" class="ignore">{{ post.author }}</a></span>
    <span>{{ post.date | readableDate }}</span>
  </div>
  {% if post.summary %}
  <p>
    {{ post.summary }}
  </p>
  {% endif %}
  <div class="tags">
    {% if post.tags %}
    <p>
      {% for tag in post.tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
      {% endfor %}
    </p>
    {% endif %}
  </div>
  <a href="{{ post.page.url | url }}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-corner-down-right"
      viewBox="0 0 24 24"
      >
      <path d="M15 10l5 5-5 5" />
      <path d="M4 4v7a4 4 0 004 4h12" />
    </svg>
    Read
  </a>
</div>
{% endfor %}
<nav>
  <a href="{{ '/authors/' | url }}">← Authors index</a>
</nav>
</section>