@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  --primary: black;
  --secondary: white;
  --background: #94918f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
}

main {
  max-width: 37.5em;
}

p,
pre,
code {
  line-height: 1.5;
}

a[href],
a[href]:visited {
  color: var(--primary);
}

a[href]:not(:hover) {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  padding: 1em;
}

main {
  padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

/* Header Logo (style as h2) */
.page-header ul {
  list-style: none;
}

.page-header a {
  text-decoration: none;
  color: inherit;
}

.page-header {
  background: #e9e6e4;
  padding: 0 10px;
}
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

.page-header ul li:not(:last-child) {
  padding-right: 15px;
}

.page-header .cta-contact {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  border: 1px solid;
  border-radius: 5px;
}

@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 10px;
  }

  .page-header .cta-contact {
    order: 1;
  }
}

marquee {
  font-size: 20px;
  background-color: #121418;
  color: #e9e6e4;
  padding: 6px 0;
  width: 100%;
  flex-shrink: 0;
  margin: 2px 0;
}

marquee span:before {
  display: inline-block;
  content: "";
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: -1px;
  vertical-align: baseline;
  background-color: #e9e6e4;
  margin: 0 16px;
}

/* Posts List */
.blog-article {
  padding: 0 5px;
}

.blog-article img {
  height: 260px;
  max-height: 22vh;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

.page-number {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  font-size: 72px;
  text-align: center;
  letter-spacing: -3px;
  font-weight: lighter;
  font-family: "Space Grotesk", sans-serif;
  border-right: 1px solid #94918f;
  white-space: nowrap;
}

@media screen and (max-width: 1260px) {
  .page-number {
    font-size: 5vw;
  }
}

.small-title {
  border-bottom: 1px solid #94918f;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 560px) {
  .small-title {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 24px;
    border-bottom: 0;
  }
}

.date {
  display: flex;
  justify-content: flex-end;
}

.blog-article h2 .ignore {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  margin: 8px 0 8px;
}

.blog-article p {
  line-height: 1.5;
  margin: 14px 0;
}

.blog-article a:not(.ignore) {
  color: #161419;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: -1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-article a svg {
  width: 26px;
  margin-right: 10px;
}

.blog-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.ignore {
  text-decoration: none;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
  border: 1px solid black;
}

button {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
}
/* footers */
footer {
  opacity: 0.67;
  position: fixed;
  inset-block-end: 0;
  inset-inline: 1rlh;
  block-size: calc(2rem - 0.5rem);
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.67rem;
  font-stretch: 70%;
  border-block-start: 1px solid;
  padding-block-start: 0.25em;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}
