<section>
  {% for post in postslist | reverse %}
  <div class="blog-article"{% if post.url==url %} data-current="current item"{% endif %}>
    <img
    src="https://images.unsplash.com/photo-1496629062893-b0f566065d44?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGJsYWNrJTIwYW5kJTIwd2hpdGV8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
    alt=""
    />
  <h2>
    <a href="{{ post.url | url }}" class="ignore">
      {% if post.data.title %}
      {{ post.data.title }}
      {% else %}
      Untitled
      {% endif %}
    </a>
  </h2>
  <div class="blog-detail" datetime="{{ post.date | machineDate }}">
    <span>By <a href="/authors/{{ post.data.author | slug }}/" class="ignore">{{ post.data.author }}</a></span>
    <span>{{ post.date | readableDate }}</span>
  </div>

  {% if post.data.summary %}
  <p>
    {{ post.data.summary }}
  </p>
  {% endif %}
  <div class="tags">
    {% if post.data.tags %}
    <p>
      {% for tag in post.data.tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="tag" class="ignore">{{ tag }}</a>
      {%- endif -%}
      {% endfor %}
    </p>
    {% endif %}
  </div>
  <a href="{{ post.url | url }}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-corner-down-right"
      viewBox="0 0 24 24"
      >
      <path d="M15 10l5 5-5 5" />
      <path d="M4 4v7a4 4 0 004 4h12" />
    </svg>
    See More
  </a>
</div>
{% endfor %}
</section>